
.Home-background {
  min-height: 100vh;
  width: 100%;
  display: flex;
  background-color: #FFC89C;
  overflow:hidden;
}
.Home-container {
  width: 80vw;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 10vh;
  overflow: hidden;
  display:initial;
}

.Home-logo {
  animation: Home-logo-init 600ms linear;
  height: fit-content;
  color: azure;
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 24pt;
}
h4 {
  font-size: 12pt;
}
@keyframes Home-logo-init {
  0% {
    transform: translateY(-24px);
    opacity: 0;
  }
  60% {
    transform: translateY(-10);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
  }
}

.Home-card-container{
  width: fit-content;
  height: -webkit-fill-available;
  margin: auto;
  overflow-y: scroll;
}
.className::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.Home-card {
  background-color: #FF7F50;
  margin: 10px;
}

@keyframes Home-card-init {
  0%{

  }
  100%{

  }
}